body {
  background-color: #f2dab6;
}

button {
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: #f0a07b;
  color: #fffbf3;
  transition: all 180ms ease-in-out;
}

button:hover {
  background-color: #f1bd99;
  color: #fffbf3;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  color: #474747;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #f0a07b;
  line-height: 30px;
}

h3 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #8e87b7;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 2px;
}

.searchCurrentLocation {
  background-color: #8e87b7;
}

.searchCurrentLocation:hover {
  background-color: #aea9d0;
}

.containerSite {
  width: 800px;
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff7e7;
}

.searchEngineForm {
  display: inline-block;
}

.searchEngine {
  width: 520px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f2dab6;
  outline: none;
  transition: all 180ms ease-in-out;
}

.searchEngine:hover {
  background-color: #f9e9cf;
}

.currentWeather {
  display: block;
  margin: 30px;
  text-align: center;
}

.currentTemp {
  text-align: center;
  font-size: 35px;
  line-height: 30px;
  color: #8e87b7;
  font-family: "Poppins", sans-serif;
}

.tempUnit {
  position: relative;
  top: -11px;
  margin-left: 5px;
}

.celsiusLink {
  text-decoration: none;
  color: #f0a07b;
  transition: all 150ms ease-in-out;
}

.celsiusLink:hover {
  color: #f1bd99;
  cursor: pointer;
}

.fahrenheitLink {
  text-decoration: none;
  color: #f0a07b;
  transition: all 150ms ease-in-out;
}

.fahrenheitLink:hover {
  color: #f1bd99;
  cursor: pointer;
}

.active {
  color: #474747;
  cursor: default;
}

.active:hover {
  color: #8e87b7;
}

.fa-circle {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 250px;
  color: #f1bd99;
}

.currentConditions {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  color: #474747;
}

.humid,
.wind,
.desc {
  display: inline;
  text-align: center;
}

.desc {
  text-transform: capitalize;
}

.descIcon {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.containerFutureForecasts {
  display: block;
  margin: 0 auto;
  width: 400px;
}

.futureDays {
  text-align: left;
}

.futureTemps {
  text-align: center;
}

.futureIcons {
  text-align: center;
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

.sourceCodeLink {
  color: #8e87b7;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.sourceCodeLink:hover {
  color: #f0a07b;
}
